{% extends "base.html" %}
{% block css %}
	img {
		max-width: 100%;
		max-height: 100vh;
		margin: auto;
		align-self: center;
	}
	.missionImg {
		display: none;
	}
    .missionDiv {
		background-color: #c0392b;
		margin-top: 1px;
		margin-bottom: 1px;
		color: #ecf0f1;
		font-size: 1.25em;
	}
	.missionTp {
		background-color: #ecf0f1;
		margin: 0px;
		color: #2c3e50;
		height: 1.5em;
	}
	#inputdiv {
		background-color: #c0392b;
		color: #ecf0f1;
		font-size: 1.25em;
		padding-bottom: 10px;
		margin-bottom: 10px;
		box-shadow: 0px 0px 10px 1px #333333;
	}
	#missionInput{
		font-size: 1.5em;
	}
	.right{
		float:right;
		font-size: 0.5em;
		margin: auto;
		display: inline-block;
		vertical-align: middle;
		line-height: normal;
	}

	.left{
		float:left;
	}
	.icontitle {
		font-size: 1.15em
	}
	.tpicon {
		max-width: 1.5em;
    	max-height: 1.5em;
	}
	.tpbutton{
		vertical-align: top;
		height: 1.25;
		margin-top: 0.30em;
	}
	.tpinput{
		vertical-align: top;
		height: 1.25;
		margin-top: 0.30em;
	}
{% endblock %}
{% block title %}Missions de guilde : {{ m_name }}{% endblock %}


{% block content %}
	<div id="inputdiv">
		<h2>Entrez le nom de la cible à trouver :</h2>
		<input type="text" onKeyUP="trackChange(this.value)" id="missionInput"><a onClick="clearInput()" style="font-size:1.5em; cursor: pointer;" alt="Tout effacer"> < </a>
	</div>
	{% for mission, tp in mission %}
		<div onclick="setInput('{{ mission.0 }}')">
			<div class="missionDiv" id="{{ mission.0 }}" style="font-size:1.35em; cursor: pointer;" id="inputitem">
				{{ mission.0 }}
					<div class="missionImg missionTp" src="none">
						{{ mission.1 }}
					</div>
				{% if tp != "" %}
					<div class="missionImg missionTp" src="none">
						<div class = "missionTpDiv">
							<img class="tpicon" src="http://i.imgur.com/Kl5xcZB.png">
							<input class="tpinput" type="text" id="TP{{ forloop.counter }}" value="{{ tp }}" />
							<button class="tpbutton" data-copytarget="#TP{{ forloop.counter }}">Copier</button>
						</div>
					</div>
				{% endif %}
				<div>
					{% for url in mission.2 %}
						<img src="{{ url }}" onclick="setZoom(this.id)" class="missionImg" id="{{ mission.0 }}_{{ forloop.counter }}">
					{% endfor %}
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}


{% block js %}
	var missiondiv = document.getElementsByClassName("missionDiv");
	var nbfound = 0;
    var lastFound;
    var imgList;
	var contentList = []

	for(var i = 0; i < missiondiv.length; i++) {
		contentList[i] = [];
		var srcList = missiondiv.item(i).getElementsByClassName("missionImg");
		for(var j = 0; j < srcList.length; j++) {
			contentList[i][j] = srcList[j].src;
			srcList[j].src = '//:0';
		}
	}

	function trackChange(value){
		nbfound = 0;
		indexfound = 0;
		for(var i = 0; i < missiondiv.length; i++) {
			if (missiondiv.item(i).id.toLowerCase().includes(value.toLowerCase())){
				lastFound = missiondiv.item(i);
				nbfound++;
				indexfound = i;
                missiondiv.item(i).style.display = 'block';
			} else {
				missiondiv.item(i).style.display = 'none';
			}
			displayImgIn(missiondiv.item(i), 0, 0);
		}
		if (nbfound == 1){
			imgList = lastFound.getElementsByClassName("missionImg");
			displayImgIn(lastFound, indexfound, 1);
		}
	}

	function displayImgIn(div, n, disp){
		imgList = div.getElementsByClassName("missionImg");
		for(var i = 0; i < imgList.length; i++) {
			if (disp == 0) {
				imgList.item(i).src = '//:0';
				imgList.item(i).style.display = 'none';
			} else {
				imgList.item(i).src = contentList[n][i];
				imgList.item(i).style.display = 'block';
			}
			
		}
	}

	function setInput(name){
		var input = document.getElementById("missionInput");
		input.value = name;
		trackChange(name);
	}

	function clearInput(){
		var input = document.getElementById("missionInput");
		input.value = "";
		trackChange(name);
	}

	function setZoom(id){
		console.log(id)
		var img = document.getElementById(id);
		console.log(img.style.maxHeight)
		if (img.style.maxHeight == '100%'){
			img.style.maxHeight = '100vh';
		} else {
			img.style.maxHeight = '100%';
		}
	}

	(function() {
		'use strict';
		// click events
		document.body.addEventListener('click', copy, true);
		// event handler
		function copy(e) {
			// find target element
			var
			t = e.target,
			c = t.dataset.copytarget,
			inp = (c ? document.querySelector(c) : null);
			// is element selectable?
			if (inp && inp.select) {
				// select text
				inp.select();
				try {
					// copy text
					document.execCommand('copy');
					inp.blur();
				}
				catch (err) {
					alert('please press Ctrl/Cmd+C to copy');
				}
			}
		}
	})();
{% endblock %}
