{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block content %}
    <h2>Bienvenue !</h2>
    <p>
        Ce site est encore en construction, n'hésitez pas à me prévenir si vous rencontrez des bugs, ou de vos idée pour améliorer le site !<br />
        Les missions de guildes sont disponibles, par contre les images peuvent être longue à s'afficher (pour l'instant).<br />
        La section build est opérationelle mais encore aucun n'a été écrit, ça arrive d'ici peu !<br />
        <br />
        Pour les missions de guilde, tapez quelques lettres de la cible voulu, les résultats potentiels s'afficheront.<br />
        Lorsque un seul résultat est possible ou que vous cliquez sur un nom, les images s'affichent (vous pouvez zoomer sur les images qui ne prennent pas toute la largeur avec un clic).
        <br />
        <br />-Grenbur
        <br />
        <br />
        Nouveautés : Ajout de la possibilité d'ajouter un TP aux missions, seules quelques randonnées en ont pour l'instant
    </p>
    
{% endblock %}
