{% extends "base.html" %}
{% block css %}
.fbpubli{
    background-color: #ecf0f1;
    border:solid 2px #c0392b;
    color: #2c3e50;
    margin: 10px;
    //padding-top: 10px;
}

.fbtime{
    background-color: #c0392b;
    color: #ecf0f1;
    text-align: center;
    font-size: 1.10em;
}

.fbimg{
    max-width:100%;
    max-height:100%;
    background-color:#333333;
}

.left_col {
   float:left;
   width:45%;
   text-align: left;
   padding: 10px;
   font-size: 1.15em;
}
.right_col {
   float:right;
   width:50%;
   background-color:#333333;
}

.fbtxtonly{
    text-align: left;
    padding: 10px;
    width:100%;
    font-size: 1.15em;
}

.fbtitle{
    background-color: #c0392b;
    color: #ecf0f1;
    text-align: left;
    font-size: 1.40em;
    padding: 5px;
}

.cleared {
  clear: both;
}

#content{
    background-color: rgba(51, 51, 51, 0.85) !important;
    //box-shadow: 0px 0px 10px 1px #333333;
    color: #ecf0f1;
}
{% endblock %}
{% block title %}Accueil{% endblock %}
{% block content %}
    <div id="fb-root"></div>
    <script>
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.8";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));     
    </script>
    <script type="text/javascript">
		var json_data = [];
				
		function display(json){
			var fdata = [];
			$.each(json.data,function(i,fb){
				fdata[i*2] = json.data[i];
				fdata[i*2+1] = json_data[i];
			});
			//fdata = json.data;
			
			//$.extend(json, json_1);
			console.log(fdata);
			var html = "";
				//loop through and within data array's retrieve the message variable.
				$.each(fdata,function(i,fb){
					if(fb != undefined){
						html += "<div class=\"fbpubli\">"
						 /*
						  *  Image + Titre
						  */
						if (fb.full_picture != undefined && fb.message != undefined && fb.message.length<100){
							html += "<div class=\"fbtitle\">"
								html += "" + $('<div>').html(fb.message).text() + ""
							html += "</div>"
							html += "<div class=\"fbimg\">"
								html += "<img class=\"fbimg\"src=\""+fb.full_picture+"\" \>"
							html += "</div>"    
						}
						 /*
						  *  Image Seule
						  */
						else if (fb.full_picture != undefined && fb.message == undefined){
							html += "<div class=\"fbimg\">"
								html += "<img class=\"fbimg\"src=\""+fb.full_picture+"\" \>"
							html += "</div>"    
						}
						 /*
						  *  Image + Message
						  */
						else if (fb.full_picture != undefined && fb.message != undefined){
							html += "<div class=\"left_col\">"
								html += "" + $('<div>').html(fb.message).text() + ""
							html += "</div>"    
							html += "<div class=\"right_col\">"
								html += "<img class=\"fbimg\"src=\""+fb.full_picture+"\" \>"
							html += "</div>"    
						}  
						 /*
						  *  Message Seule
						  */
						else if (fb.full_picture == undefined && fb.message != undefined){
							html += "<div class=\"fbtxtonly\">"
								html += "" + $('<div>').html(fb.message).text() + ""
							html += "</div>"    
						}
						
						html+="<div class=\"cleared\"></div>";
						html += "<a href=\"http://www.facebook.com/"+fb.id+"\"><div class=\"fbtime\"><p>Lien vers la publication ("+fb.created_time.replace('T', ' à ').replace('+0000', '')+")</p></div></div></a>";
					}
				});
			//html += "</ul>";
			//A little animation once fetched
			$('.facebookfeed').animate({opacity:0}, 500, function(){
					$('.facebookfeed').html(html);
			});
			$('.facebookfeed').animate({opacity:1}, 500);
		}
		
		var url = "https://graph.facebook.com/1518786195087459/feed?"+
				"fields=created_time,full_picture,message,id"+
				"&access_token=1263375167041344|24794e69870a80a21f31ab53e60c75e4";
		var url2 = "https://graph.facebook.com/1760159560670927/feed?"+
				"fields=created_time,full_picture,message,id"+
				"&access_token=1263375167041344|24794e69870a80a21f31ab53e60c75e4";
		
		function get(json){
			json_data = json.data;
			console.log(json_data);
		}
	
        function fbFetch(){
			console.log("START1");
            var a = $.getJSON(url, get);
			a.done();
			$.getJSON(url2, display);
        };
    </script>
    <h1>Fil d'actualité de la FaF</h1>
    <div class="facebookfeed">
        <h2>Chargement...</h2>
    </div>
{% endblock %}
{% block js %}
    fbFetch()
{% endblock %}