{% extends "base.html" %}
{% block css %}
#tabledailies{
    width:95%;
    margin: auto;
    //table-layout: fixed;
    border-collapse: collapse;
}
.tabledaily{
    height: 130px;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #c0392b;
}
#patp{
    width: 80%;
}
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #333333;
	color: #ecf0f1;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	position: absolute;
	z-index: 1;
    top: 100%;
	left: 50%; 
	margin-left: -100px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    margin: 0px;
    padding: 10px;
}

th {
    text-align: center;
    padding: 6px;
    color: #c0392b;
    font-size: 24px;
}

{% endblock %}

{% block title %}Infos utiles{% endblock %}


{% block content %}
    <h1>Agents du pacte</h1>
    <p>Listes des Points de Passages où trouver les Agents du Pacte aujourd'hui :</p>
    <input type="text" class="tpinput" id="patp" value="Agents du Pactes : {{ pact }}" />
	<button class="tpbutton" data-copytarget="#patp">Copier</button>

    <h1>Quotidiennes</h1>
    <table id="tabledailies">
        {% for modetitle, dailymode in dailies %}
            <tr><th colspan="100%">{{ modetitle }}</th></tr>
            <tr>
            {% if forloop.first %} <!-- if PvE -->
                {% for id, lmin, lmax, xpac in dailymode %}
                    {% if xpac and lmax == 80 %} <!-- if normal PvE daily-->          
                    <td>
                        <div class="dailyid tooltip" id="{{ id }}"><b>...</b>
                            <span class="tooltiptext">...</span>
                        </div>
                    </td>
                    {% endif %}
                {% endfor %}
            {% else %} <!-- else -->
                {% for id, lmin, lmax, xpac in dailymode %}
                    <td>
                        <div class="dailyid tooltip" id="{{ id }}"><b>...</b>
                            <span class="tooltiptext">...</span>
                        </div>
                    </td>
					{% if forloop.counter == 4 or forloop.counter == 8 or forloop.counter == 12 %}<tr></tr>{% endif %}
                {% endfor %}
            {% endif %}
            </tr>
        {% endfor %}
        <!-- low-level PvE -->
        <tr><th colspan="100%" style="font-size:16px;">Quotidiennes JvE pour accès restreint :</th></tr>
            <tr>
                {% for id, lmin, lmax, xpac in dailies.0.1 %}
                    {% if not xpac or not lmax == 80 %}     
                    <td>
                        <div class="dailyid tooltip" id="{{ id }}"><b>...</b>
                            <span class="tooltiptext">...</span>
                        </div>
                    </td>
                    {% endif %}
                {% endfor %}
            </tr>
    </table>
    
    <script>
    var dailyid = document.getElementsByClassName('dailyid');
    var id = 0;

    function displayAchiv(data, i){
        dailyid.item(i).innerHTML = "<b>"+data['name']+"</b><span class=\"tooltiptext\">"+data['requirement']+"</span>"
    }
    
    for(var i = 0; i < dailyid.length; i++) {
        $.getJSON('https://api.guildwars2.com/v2/achievements/'+dailyid.item(i).id,
            (function(thisi) {
                return function(data) {
                    displayAchiv(data, thisi);   
                };
            }(i))
        );
    }
    </script>
{% endblock %}


{% block js %}
    (function() {
		'use strict';
		// click events
		document.body.addEventListener('click', copy, true);
		// event handler
		function copy(e) {
			// find target element
			var
			t = e.target,
			c = t.dataset.copytarget,
			inp = (c ? document.querySelector(c) : null);
			// is element selectable?
			if (inp && inp.select) {
				// select text
				inp.select();
				try {
					// copy text
					document.execCommand('copy');
					inp.blur();
				}
				catch (err) {
					alert('please press Ctrl/Cmd+C to copy');
				}
			}
		}
	})();
{% endblock %}
